{% extends "base.html" %}

{% block body_block %}
<div align="left">
    {% if lookup_sites %}
        <table class="table table-hover">
            <thead>
                <tr><th>Site Name</th><!--th>Description</th--></tr>
            </thead>
            <tbody>
            {% for sites in lookup_sites %}
                 <tr>
                    <td>{{ sites.sitename }}</td>
            {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>No documents.</p>
    {% endif %}


{% endblock %}